@import "style.css";

#about-bnr {
    background-image: url('images/home-hero-desktop.jpg');    
}

.our-values {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.value-boxes-wrapper {
    display: flex;
    margin: 5rem auto;
    gap: 4rem;
}

.value-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.value-box-img {
    border-radius: 50%;
}

.vb-num-size {
    height: 6rem;   
    width: 6rem;
}
.vb-number-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 6rem;   
    width: 6rem;
    background-color: var(--secondary);
    margin-top: -2.5rem;
}

.vb-title {
    margin: 2rem auto;
}

.vb-description {
    text-align: center;
    margin: auto;
}

.faq-title {
    text-align: center;
}

.faq-sub-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.faq-subtitle {
    margin: 0;
}
.faq-card {
    width: 70%;
}

.question {
    display: grid;
    grid-template-columns: auto auto;
}

.accordion {
    margin: 1rem auto;
    padding: 0 3rem;
    border-radius: 10px;
    position: relative;
    display: flex;
    align-items: center;
    align-self: center;
    justify-self: center;
    justify-content: center;
    background-color: var(--accentlight);
}

.accord input[type=button] {
    display: none !important;
}
    
.accordion label {
    width: 20px;
    padding: 5px;
    display: flex;
    align-self: center;
    justify-self: flex-end;
}

.accordion label .mark {
    height: 10px;
    width: 10px;
    border-left: 4px solid var(--secondary);
    border-bottom: 4px solid var(--secondary);
    transition: transform 1s ease;
    transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    display: flex;
    align-items: center;
    align-self: center;
    justify-self: center;
    justify-content: center;
}

.accordion input[type=checkbox] {
    display: none;
    float: right;
    
}
  
.accordion-open {
    height: 100%;
    padding-bottom: 1rem;
    background-color: magenta;
}
  
.accordion-open {
    transform: rotate(135deg);
    -o-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    height: 100vh;
}

.accordion .panel {
    height: 0px;
    padding: 0;
    
    transition: height ease 1s, padding ease 1s;
    overflow: hidden;
    border-radius: 5px;
}

@media screen and (max-width: 768px) {
    #about-bnr {
        background-image: url('/images/about-hero-tablet.jpg');
    }
  }

  @media screen and (max-width: 375px) {
    #about-bnr {
        background-image: url('/images/about-hero-mobile.jpg');
    }
  }